<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- XDI ENDPOINT REGISTRY AND TRANSPORT -->

	<bean id="HttpMessagingTargetRegistry" class="xdi2.transport.impl.http.registry.HttpMessagingTargetRegistry" init-method="init" destroy-method="shutdown" />

	<bean id="HttpTransport" class="xdi2.transport.impl.http.HttpTransport" init-method="init" destroy-method="shutdown">
		<property name="httpMessagingTargetRegistry" ref="HttpMessagingTargetRegistry" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.transport.impl.http.interceptor.impl.DebugHttpTransportInterceptor" />
				<bean class="xdi2.transport.impl.http.interceptor.impl.StatusHttpTransportInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- SPRING -->

	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="xdi2.transport.spring.XDI2SpringConverter" />
			</list>
		</property>
	</bean>

	<!-- WEB SERVLET -->

	<bean id="XDIMongoDB" class="xdi2.webtools.mongodb.XDIMongoDB" init-method="init" destroy-method="destroy">
		<property name="graph" ref="graph1" />
	</bean>

	<!-- MESSAGING TARGET at /graph -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MongoDBGraph -->

	<bean id="graphfactory1" class="xdi2.core.impl.json.mongodb.MongoDBJSONGraphFactory">
		<property name="host" value="localhost" />
	</bean>

	<bean id="graph1" factory-bean="graphfactory1" factory-method="openGraph">
		<constructor-arg><value>([=]!:uuid:1111)</value></constructor-arg>
	</bean>

	<bean name="/graph" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph1" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="[=]!:uuid:1111" />
					<property name="bootstrapOwnerSynonyms">
						<util:list>
							<value>=alice</value>
						</util:list>
					</property>
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
					<property name="bootstrapGraph">
						<value>
							{$self}$to$anon$from$public$do/$get/{$self}$msg$encrypt$keypair&lt;$public&gt;&lt;$key&gt;
							{$self}$to$anon$from$public$do/$get/({$self}$msg$encrypt$keypair/$is#/{})
							{$self}$to$anon$from$public$do/$get/{$self}$msg$sig$keypair&lt;$public&gt;&lt;$key&gt;
							{$self}$to$anon$from$public$do/$get/({$self}$msg$sig$keypair/$is#/{})
						</value>
					</property>
					<property name="bootstrapMessageEnvelope">
						<value>
							$anon[$msg]!1$do/$do$keypair/({$self}$msg$encrypt$keypair/$is#/$rsa$2048)
							$anon[$msg]!1$do/$do$keypair/({$self}$msg$sig$keypair/$is#/$rsa$2048)
						</value>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:list>
				<bean id="generateKeyContributor" class="xdi2.messaging.target.contributor.impl.keygen.GenerateKeyContributor" />
			</util:list>
		</property>
	</bean>

</beans>
